.container-movie{
    width: 100%;
    height: 800px;
    background-image: linear-gradient(rgba(20, 20, 20, 0.5),rgba(20, 20, 20, 0.5)100%), url('../imagens/outpost.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}