@media screen and (max-width: 1120px){
    div#container{
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    div.filme-principal{
        width: 100%;
        height: auto;
    }

    .filme-principal button{
        width: 40%;
        height: 45px; 
    
    }

}

@media screen and (max-width: 720px){
    div#container{
        width: 100%;
        height: auto;
        
    }

    div.filme-principal{
        width: 100%;
        min-width: 100%;
        height: auto;
    }

    .filme-principal button{
        width: 80%;
        height: 45px; 
    
    }

}

/*
formatação professor DIO 
@media screen and (max-width 700){
    header .container{
        display: flex;
        flex-direction: column;

    }

    .botão{
        margin-top: 5px;
        width: 200px;
    }
}

@media screen and (min-width: 1000px){
    .descricao{
        width: 50%;

    }
}
*/