@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    width: 100%;
    height: auto;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
}

div#container{
    width: 100%;
    height: auto;
    background-color: black;
    background-image: url('../imagens/netflix.png');
    background-position: 0% 50%;
    background-size: 25% auto;
    background-repeat: no-repeat;
    text-align: right;
}

div#container a{
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 2% 2%;
    
}

div#container a:hover{
    text-shadow: 2px 2px 8px white;
}

/* FILME PRINCIPAL E ELEMENTOS */
/*   forma de transparencia texto by valdim
.titulo{
    background-color: rgba(0, 0, 0, 0.5);
}
.descricao{
    background-color: rgba(0, 0, 0, 0.5);
}
*/
div.filme-principal{
    width: 100%;
    height: 700px;
    background-image: linear-gradient(rgba(20, 20, 20, 0.5),rgba(20, 20, 20, 0.5)100%), url('../imagens/theboyz.jpg');
    background-size: cover;
    background-position: 90% auto;
    background-repeat: no-repeat;
    
}

.filme-principal .container{
    width: 60%;
    padding-top: 10%;
    margin-left: 4%;
}

.titulo{
    padding-bottom: 50px;
    font-size: 40px;
    letter-spacing: 6px;
}

.descricao{
    text-align: left;
    margin-bottom: 30px;
}

.filme-principal button{
    width: 30%;
    height: 45px;
    background-color: rgba(20, 20, 20, 0.5);
    color: white;
    text-transform: uppercase;
    display: inline-block;
    outline: none;
    cursor: pointer;

}

.filme-principal button:hover{
    box-shadow: 2px 2px 5px white;
    transition: 0.3s ease all;
    text-shadow: 1px 1px 5px white;
}
button i{
    margin-right: 10px;
}

.item{
    display: block;
    margin-top: 20px;
}




